// Place all the styles related to the Api::carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-meds-page {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Roboto", sans-serif;
}

.number-items-cart {
    font-size: 40px;


}

.cart-med-info {
    margin-left: 20px;
}

.cart-photo {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

// .cart-med {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 40px;
// }

.cart-dropdown-content {
    width: 60px;
}

.cart-delete-content {
    width: 60px;
    margin-top: 20px;
    border: none;
    background-color: white;
}

.cart-delete-content:hover {
    cursor: pointer;
}

.cart-meds-contents {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.cart-med {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: thin solid lightgrey;
}

.cart-dropdown-content {
    box-shadow: 0 1px 6px 0 rgba(34, 34, 34, 0.15);
    font-size: 16px;
    height: 38px;
    border-radius: 6px;
}

.cart-dropdown-content:hover {
    cursor: pointer;
}

.number-items {
    font-size: 20px;
}

// .cart-meds-contents-right {
//     box-shadow: 0 1px 6px 0 rgba(34, 34, 34, 0.15);
// }

.checkout-button {
    border: none;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    line-height: 30px;
}

.checkout-button:hover {
    cursor: pointer;
}

.cart-right-content-internal {
    box-shadow: 0 2px 6px 0 rgba(34, 34, 34, 0.15);
    border-radius: 8px;
}

.cart-right-content-internal-2 {
    margin: 10px;
    padding-bottom: 10px;
}