.title {
    color: #F1641E;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
    font-stretch: wider;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 40px;
    height: 60px;
    width: fit-content;
    font-family: "Guardian-EgypTT",serif;
}

header {
    display: flex;
    justify-content: space-between;
}

.temporary-search-container {
    height: 60px;
    width: 80%;
    background-color: rgb(175, 158, 158);
}