.medication-index-container {
    width: 1402px !important;
    max-width: 1402px !important;
    display: block !important;
    position: relative;
    float: left;
    clear: both;
    list-style: none;
    justify-content: space-around !important;
}
.medication-index-item {
    align-items: stretch;
    display: block !important;
    float: left;
    width: 300px;
    padding: 9px;
}

.medication-index-photo {
    height: 300px;
    width: 300px;
}
.medication-index-item-info {
    flex-direction: row;
    box-sizing: border-box;
    // div {
    //     color: #2700ff;
    // }
}

.medication-index-item:hover {
    background-color: rgba(240, 248, 255, 0.445);
    opacity: 0.5;
}

.limited-time-offer {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-weight: bold;
    transform: rotate(-35deg) translateX(-25%);
    position: relative;
    top: -370px;
    left: 30px;
    // padding-top: 3px;
    // padding-bottom: 3px;
    // padding-left: 6px;
    // padding-right: 6px;
    border-radius: 50px;
}

.medication-index-price {
    border-radius: 80px;
    color: black;
}

.medication-index-price:hover {
    background-color: rgba(0, 255, 85, 0.247);
    max-width: 50px;
}

.medication-index {
display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
