.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    width: 100%;
    height: inherit;
    overflow: scroll;
}

.modal-child {
    background-color: white;
    height: 750px;
    width: 360px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 20px;
}

.sign-in-v-register {
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-form-container {
    height: 650px;
}

.login-register-button {
    display: flex;
    justify-content: center;
}



