.modal-login-button {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
    min-height: 36px;
    min-width: 36px;
    // padding-top: 0%;
    // padding-bottom: 9px;
    // padding-left: 15px;
    // padding-right: 15px;
    border: none;
    background-color: white;
    border-radius: 16px;
    position: relative;
    left: 30px;
}

.modal-login-button:hover {
    background-color: rgb(243, 243, 235);
    transform: scale(1.2);
    cursor: pointer;
}

// .login-form-container {
//     display: flex;
//     flex-direction: column;
//     padding: 30px;
//     border-width: 2.5px;
//     border-color: #222222;
//     background: white;
//     border-radius: 24px;
//     width: 380px;
//     z-index: 10;
// }

.modal-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-form-container {
    display: flex;
    align-items: space-around;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    height: 650px;
    width: 300px;
}

.modal-child button {
    border: none;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-welcome {
    font-size: 40px;
    font-style: bold;
    display: flex;
    justify-content: center;
}

.session-submit {
    border: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 20px;
    width: 100px;

}

// .session-submit:hover {
// cursor: pointer;
// }

.form-button {
    border: none;
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 20px;
    color: white;
}

.form-button {
    cursor: pointer;
}

.modal-close {
    position: absolute;
    color: white;
    float: right;
    font-size: 30px;
    top: 0px;
    right: -40px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.username-password-input {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-input {
    height: 40px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.or {
    display: flex;
    justify-content: center;
}

.login-errors {
    color: red
}

.logout-button {
    font-size: 15px;
    line-height: 1.4;
    // min-height: 36px;
    // min-width: 36px;
    // padding-top: 5%;
    border: 1px solid black;
    background-color: white;
    border-radius: 16px;
    // position: relative;
    // top: 8px;

}

.logout-button:hover {
    color: grey;
    border: 1px solid grey
}

.sign-in-policy {
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: rgb(187, 187, 186)
}

.cart-picture {
    width: 40px;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    transform: scaleX(-1);
}